############################################
#    /_\  | \| |/ __||_ _|| _ )| |   | __| #
#   / _ \ | .` |\__ \ | | | _ \| |__ | _|  #
#  /_/ \_\|_|\_||___/|___||___/|____||___| #
############################################
#                                          #
#     THIS HOST IS MANAGED VIA ANSIBLE.    #
#   DO NOT CHANGE SYSTEM FILES DIRECTLY.   #
#                                          #
############################################
{% if motd_contact_email %}    
CONTACT {{ motd_contact_email }}
############################################
{% endif %}
